.btn,
.btn:disabled,
.btn:hover {
  background-color: #fcc436;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
}

.container {
  align-items: center;
  background-image: linear-gradient(to bottom, #382c49 0, #763dcc 50%, white 50%);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}

h1 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.165em;
  line-height: 20px;
  margin: 20px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  width: 154.18px;
  height: 28.83px;
  left: 30.1%;
  top: 13.4%;

}

h1,
h4 {
  color: white;
  font-style: italic;
}

h3 {
  color: #41197f;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.165em;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.inputEm,
.inputPw {
  border: 0.5px solid #41197f;
  border-radius: 5px;
  height: 40px;
  left: 42px;
  padding: 10px;
  top: 613px;
  width: 260px;
}

.inputEm::placeholder,
.inputPw::placeholder {
  color: #41197f;
  font-family: 'Epilogue';
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
}

.input {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  height: 90px;
  justify-content: space-around;
}

.elipse {
  position: absolute;
  width: 140px;
  height: 140px;
  left: 35%;
  top: 2%;
}

.retangulo {
  position: absolute;
  width: 180px;
  height: 40px;
  left: 30.5%;
  top: 15.5%;
}

.band {
  position: absolute;
  width: 90px;
  left: 40.5%;
  top: 0.8%;
}

.tomate-img {
  width: 250px;
}

.tomate {
  display: flex;
  width: 100%;
  margin: 0;
  align-items: flex-end;
  height: 150px;
  justify-content: center;

}

.coracao {
  position: absolute;
  left: 56%;
  width: 30px;
  right: 36.25%;
  top: 3%;
}

h4 {
  position: absolute;
  width: 154.18px;
  height: 28.83px;
  left: 44.8%;
  top: 22.5%;

}

.title {
  width: 100%;
  height: 180px;
  display: flex;
}