.btn, .btn:disabled, .btn:hover {
  background-color: #fcc436;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
}

.container {
  align-items: center;
  background-image: linear-gradient(to bottom, #382c49 0, #763dcc 50%, white 50%);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}

.recipes {
  font-size: 30px;
  font-weight: 500;
  height: 28.83px;
  left: 30.1%;
  letter-spacing: 0.165em;
  line-height: 20px;
  margin: 20px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 13.4%;
  width: 154.18px;

}

.recipes, .app {
  color: #41197f;
  font-style: italic;
}

.login {
  color: #41197f;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.165em;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.inputEm, .inputPw {
  border: 0.5px solid #41197f;
  border-radius: 5px;
  height: 40px;
  left: 42px;
  padding: 10px;
  top: 613px;
  width: 260px;
}

.inputEm::placeholder, .inputPw::placeholder {
  color: #41197f;
  font-family: Verdana , serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
}

.input {
  display: flex;
  flex-direction: column;
  height: 90px;
  justify-content: space-around;
  margin-top: 5px;
}

.elipse {
  height: 140px;
  left: 35%;
  position: absolute;
  top: 2%;
  width: 140px;
}

.retangulo {
  height: 40px;
  left: 30.5%;
  position: absolute;
  top: 15.5%;
  width: 180px;
}

.band {
  left: 40.5%;
  position: absolute;
  top: 0.8%;
  width: 90px;
}

.tomate-img {
  width: 250px;
}

.tomate {
  align-items: flex-end;
  display: flex;
  height: 150px;
  justify-content: center;
  margin: 0;
  width: 100%;

}

.coracao {
  left: 56%;
  position: absolute;
  right: 36.25%;
  top: 3%;
  width: 30px;
}

.app {
  height: 28.83px;
  left: 44.8%;
  position: absolute;
  top: 22.5%;
  width: 154.18px;

}

.title {
  display: flex;
  height: 180px;
  width: 100%;
}
