.btn,
.btn:disabled,
.btn:hover {
  background-color: #fcc436;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
}

.container {
  align-items: center;
  background-image: linear-gradient(to bottom, #382c49 0, #763dcc 55%, white 45%);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}

h1 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.165em;
  line-height: 20px;
  margin: 20px;
  text-align: center;
  text-transform: uppercase;
}

h1,
h4 {
  color: white;
  font-style: italic;
}

h3 {
  color: black;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.165em;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.inputEm,
.inputPw {
  border: 0.5px solid #41197f;
  border-radius: 5px;
  height: 40px;
  left: 42px;
  padding: 10px;
  top: 613px;
  width: 276px;
}

.inputEm::placeholder,
.inputPw::placeholder {
  color: #41197f;
  font-family: 'Epilogue';
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
}