.foodDetails {
  border-radius: 5%;
  height: 350px;
  margin-top: 10px;
  width: 85%;
}

.img-recipe {
  display: flex;
  justify-content: center;
}

.ul-ingredients {
  border: 0.55px solid #b1b1b1;
  border-radius: 5.35px;
  margin: 20px;
  margin-top: 5px;
}

.pInstructions {
  border: 0.55px solid #b1b1b1;
  border-radius: 5.35px;
  margin: 20px;
  padding: 10px;
}

.titles {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 1000;
  left: 40%;
  letter-spacing: 0.21em;
  line-height: 20px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 25%;
}

.ingred {
  color: #41197f;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.21em;
  line-height: 20px;
  margin: 15px;
  text-transform: uppercase;
}

.video {
  border-radius: 3%;
  height: 205.09px;
  margin: 10px;
  width: 336px;
}

.btnFav, .btnShare {
  background: white;
  border: none;
  color: #41197f;
}

.btnFav {
  background: none;
  left: 80%;
  position: absolute;
  top: 3%;
}

.btnShare {
  background: none;
  left: 80%;
  position: absolute;
  top: 11%;
  width: 3px;
}

.divVideo {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.rec {
  background-color: #fcc436;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  flex-direction: row;
  margin: 27px;
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: center;
  width: 90%;

}

.rec::-webkit-scrollbar-thumb {
  background-color: #41197f;    /* color of the scroll thumb */
  border: 3px solid #41197f;
  border-radius: 10px;       /* roundness of the scroll thumb */
}

.rec::-webkit-scrollbar {
  width: 12px;
}

.rec::-webkit-scrollbar-track {
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.imgBtnFav {
  width: 40px;
}

.imgBtnShare {
  width: 40px;
}
