.foods {
  display: none;
}

.recipes-food {
  background: white;
  border: 0.51px solid #b1b1b1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.img-fod {
  width: 200px;
}

.ul-food {
  display: flex;
  flex-wrap: wrap;
}

.btn-all {
  background: white;
  border: none;
}
