.foods {
  display: none;
}

.recipes-food {
  background: white;
  border: 0.51px solid #b1b1b1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 3px;
  text-align: center;
}

.img-fod {
  width: 200px;
}

.ul-food {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.btn-all {
  background: white;
  border: none;
}

.vaca, .pao, .galinha, .sobremesa, .goat, .salada {
  border: 1.811px solid #fcc436;
  border-radius: 45.28px;
  box-sizing: border-box;
  height: 50px;
  margin: 5px;
  margin-left: 19px;
  width: 50px;
}
